:host {

}
.navbar-brand{
  cursor: default !important;
}
.container{
  background-color: white;
}
.card{
  background-color: white;
}
.value{
  width: 100px !important;
}
.input-group-text{
  padding: 0.375rem 0.25rem !important
}
.greenColor{
  background-color: #85b73ec4;
}
