:host {

}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container-alert{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}
